<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ofertas realizadas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item ion-item *ngFor="let oferta of ofertas  | async">

        <div *ngIf="sonOfertasDeMisViajes; else divPujadas">
          <ion-card (click)="presentActionSheetOfertas(oferta)">
            <ion-item>
               <ion-avatar item-left>
                 <img src="{{ oferta.foto }}" />
               </ion-avatar>
               <h2>{{ oferta.nombre }} / {{ oferta.empresa }}</h2>
               <p><b>Importe ofertado {{ oferta.importe }}</b></p>
             </ion-item>
           </ion-card>
        </div>

        <ng-template #divPujadas>
          <ion-card (click)="presentActionSheetDetalle(oferta)">
              <ion-item>
                  <ion-icon color="subtle" name="arrow-dropright-circle" item-start large></ion-icon>
                  <h2>{{ oferta.resumen }}</h2>
              </ion-item>
                <ion-item>
                  <ion-icon color="subtle" name="card" item-start large></ion-icon>
                  <h2>Ofertad: {{ oferta.importe }} Euros</h2>
                </ion-item>
          </ion-card>
        </ng-template>

      </ion-item>
    </ion-list>
  </ion-content>
