<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ofertas realizadas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item ion-item *ngFor="let oferta of ofertas | async">

        <div *ngIf="sonOfertasDeMisViajes; else divPujadas">
          <ion-card (click)="presentActionSheetOfertas(oferta)">
            <ion-card-header>
              {{ oferta.resumen }}
            </ion-card-header>
            <ion-card-content>
              Importe ofertado {{ oferta.importe }}
            </ion-card-content>
          </ion-card>
        </div>

        <ng-template #divPujadas>
          <ion-card (click)="presentActionSheetDetalle(oferta)">
            <ion-card-header>
              {{ oferta.resumen }}
            </ion-card-header>
            <ion-card-content>
              Importe ofertado {{ oferta.importe }}
            </ion-card-content>
          </ion-card>
        </ng-template>

      </ion-item>
    </ion-list>
  </ion-content>
