<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Mis servicios
    </ion-title>
    <ion-buttons start>
     
    </ion-buttons>
  </ion-navbar>
</ion-header>

 

<ion-content>

  <ion-list-header>
      Suscrito
 </ion-list-header>

  <ion-list>
    <ion-item-sliding *ngFor='let viaje of viajes | async'>
      <ion-item>
         <h2>De {{ viaje.origen }} a  {{ viaje.destino }}</h2>
         <p>Mercancía {{ viaje.carga }}  de {{ viaje.mercancia }} </p>
      </ion-item>
       <ion-item-options> 
        <button ion-button color="danger" (click)="removeViaje(viaje)">
          Borrar
        </button>
       </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list-header>
      Ofertadas
 </ion-list-header>
 
    <ion-list>
    <ion-item-sliding *ngFor='let viaje of viajes | async'>
      <ion-item>
         <h2>De {{ viaje.origen }} a  {{ viaje.destino }}</h2>
         <p>Mercancía {{ viaje.carga }}  de {{ viaje.mercancia }} </p>
      </ion-item>
       <ion-item-options> 
        <button ion-button color="danger" (click)="removeViaje(viaje)">
          Borrar
        </button>
       </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
