<ion-header>
  <ion-navbar>
    <ion-title>
      Administración de usuarios
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-list>
    <ion-list-header>
      Usuarios validados
    </ion-list-header>

    <ion-item *ngFor="let user of users | async | userfilter: true">
        <ion-avatar item-left>
          <img src="{{user.picture}}">
        </ion-avatar>
        <h2>{{user.empresa}}</h2>
        <h3>{{user.contactName}}</h3>
        <p>{{user.email}}</p>
        <button ion-button item-end color="danger" icon-only (click)="invalidateUser(user)">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-item>

    
  </ion-list>

  <ion-list>
    <ion-list-header>
      Usuarios pendientes de validación
    </ion-list-header>

    <ion-item *ngFor="let user of users | async | userfilter: false">
        <ion-avatar item-left>
          <img src="{{user.picture}}">
        </ion-avatar>
        <h2>{{user.empresa}}</h2>
        <h3>{{user.contactName}}</h3>
        <p>{{user.email}}</p>
        <button ion-button item-end icon-only (click)="validateUser(user)">
          <ion-icon name="checkmark"></ion-icon>
        </button>
    </ion-item>

   
  </ion-list>

</ion-content>
