<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Ofertas
    </ion-title>
    <ion-buttons *ngIf="(userProfile | async)?.validated" start>
      <button  ion-button (click)="creaViaje()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="(userProfile | async)?.validated">
    <ion-item-sliding *ngFor='let viaje of viajes | async'>
      <ion-item>
         <h2>De {{ viaje.origen }} a  {{ viaje.destino }}</h2>
         <p>Mercancía {{ viaje.carga }}  de {{ viaje.mercancia }} </p>
      <button ion-button clear item-right>Hacer oferta</button>
      </ion-item>
       <ion-item-options> 
        <button ion-button color="danger" (click)="removeViaje(viaje)">
          Borrar
        </button>
       </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-col class="col-center" *ngIf="!((userProfile | async)?.validated)">
            Usuario aun no validado, espere a ser activado para poder visualizar y dar de alta viajes.
        </ion-col>
</ion-content>